version: '3.8'

services:
  api:
    build: .
    container_name: retailcrm-api
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
    env_file:
      - .env
    restart: unless-stopped